* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

header h1 .logo {
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.loader-container {
    text-align: center;
    margin-top: 100px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .featured,
    .haircuts {
        margin-bottom: 20px;
    }

    header h1 .logo {
        display: block;
    }

    header h1 {
        justify-content: center;
    }

    header h1 img {
        display: inline-block;
    }

    header h1 .company-name {
        display: none;
    }
}