<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/services/sobrancelha.css">
    <link rel="shortcut icon" href="../static/imgs/nareguaRemoved.png" type="image/x-icon">
    <title>Na Régua - Barba</title>
</head>

<body>
    <header>
        <h1> <img class="logo" src="../static/imgs/logo.jpg" alt="naRégua"> <span class="company-name">Na Régua</span>
        </h1>
        <nav>
            <ul>
                <li><a href="./sistema-homepage.html">Início</a></li>
                <li><a href="./cadastrar.html">Sou barbeiro</a></li>
                <li><a href="./quemSomos.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div class="loader-container">
        <div class="loader"></div>
        <h1>Estamos te conectando com o profissional adequado para o seu desejo, por favor, aguarde...</h1>
    </div>

</body>

</html>