<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about/about.css">
    <link rel="shortcut icon" href="../static/imgs/nareguaRemoved.png" type="image/x-icon">
    <title>Na Régua - Quem Somos</title>
</head>

<body>
    <header>
        <h1> <img class="logo" src="../static/imgs/logo.jpg" alt="naRégua"> <span class="company-name">Na Régua</span>
        </h1>
        <nav>
            <ul>
                <li><a href="./sistema-homepage.html">Início</a></li>
                <li><a href="./cadastrar.html">Sou barbeiro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about-us">
            <h2>Quem Somos</h2>
            <p>Somos uma plataforma que conecta clientes a profissionais de barbearia. Nosso objetivo é proporcionar uma
                experiência de barbearia personalizada, onde você pode encontrar os melhores profissionais para atender
                às suas necessidades. Na Régua, estamos comprometidos com a excelência em serviços de barbearia e
                satisfação do cliente.</p>
            <p>Se você é um barbeiro ou cabeleireiro talentoso e deseja expandir sua base de clientes, junte-se a nós
                hoje mesmo e faça parte da nossa comunidade de profissionais qualificados.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Na Régua. Todos os direitos reservados a Dev´s Systems e colaboradores.</p>
    </footer>
</body>

</html>