<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homepage/homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/imgs/nareguaRemoved.png" type="image/x-icon">
    <title>Barbearia - Página Inicial</title>
</head>

<body>

    {% include 'navbar.html' %}
    {% block navbar %}

    {% endblock %}
    <main>
        <section class="barbers">
            <div class="container">
                <h2>Barbeiros Disponíveis</h2>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-header">
                                    <h2>João da Silva</h2>
                                    <p>Especialidade: Corte Masculino</p>
                                </div>
                                <div class="card-body">
                                    <p>Idade: 35 anos</p>
                                    <p>Valor do Serviço: R$ 50,00</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ url_for('agendamento') }}"><button
                                            class="btn-agendar">Agendar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <br>
        <hr>

        <section class="barbers">
            <div class="container">
                <h2>Barbearias disponíveis</h2>
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Barbearia Fagundes</h2>
                                    <p>Especialidade: Corte Masculino</p>
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                    <button class="btn-agendar">Agendar</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Barbearia Neves</h2>
                                    <p>Especialidade: Corte Masculino</p>
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                    <button class="btn-agendar">Agendar</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Bené du Corte</h2>
                                    <p>Especialidade: Corte Masculino</p>
                                </div>
                                <div class="card-body">
                                </div>
                                <div class="card-footer">
                                    <button class="btn-agendar">Agendar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </main>

    <br><br><br><br><br>

    <footer>
        <div class="container">
            <p>&copy; 2024 Na Régua - Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="../static/homepage/homepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>