.form-control{
    width: 150px;
}

#reservas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#reservas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}