* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn-btn-secondary-dropdown-toggle {
    background-color: black;
    font-weight: bold;
    color: white;
    border: none;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid #000;
}

.dropdown-menu a.dropdown-item {
    color: #000;
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #DCDCDC;
    border-radius: 5px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.card-header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 10px;
}

.card-footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.btn-agendar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-agendar:hover {
    background-color: #0056b3;
}

.logo {
    width: 45px;
    border-radius: 50%;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: black;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 3%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: bold;
}

.content {
    text-align: center;
    padding-top: 19px;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header {
    display: none;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.barber-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Alinha os cards ao redor do container */
}

.barber-card {
    width: calc(33.33% - 20px);
    /* Define a largura de cada card */
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra */
}

.barber-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Define a borda arredondada para a imagem */
}

.barber-card .details {
    padding: 20px;
}


.barber-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.barber-card p {
    margin-bottom: 10px;
    color: #666;
}

.barber-card button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.barber-card button:hover {
    background-color: #333;
}

@media screen and (max-width: 600px) {
    .btn_icon_header {
        display: block;
    }

    .barber-carousel {
        overflow-x: hidden;
    }

    .barber-cards {
        display: flex;
    }

    .barber-card {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    .navigation_header {
        position: fixed;
        flex-direction: column;
        top: 0;
        background-color: black;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -3vw;
    }
}

.jobs {
    position: center;
    padding: 0px 20px;

    border: none;
    border-radius: 50%;
    height: 90px;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
}

hr {
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    border: none;
}

::-webkit-scrollbar-horizontal {
    display: none;
}

body {
    overflow-x: hidden;
}

.containerOne {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card-container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.profile-image {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px 0;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.profile-header {
    text-align: center;
    padding: 30px 0;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-header h2, .profile-header p {
    margin-bottom: 10px;
}

.profile-body {
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajuste a altura conforme necessário */
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-body h3 {
    margin-bottom: 10px;
}

.profile-body p {
    margin-bottom: 5px;
}

.switch-container {
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s, transform 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btnPerfil{
    background: transparent;
    border: none;
}

.profName{
    font-weight: bold;
    font-size: 25px;
}

.editProf{
    justify-content: left;
    margin-left: 330px;
    display: flex;
    width: 30px;
    height: 35px;
    border:none;
    background-color: white;
}



input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}



.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.alert-error {
    color: red;
    margin-bottom: 10px; 
    border-radius: 5px; 
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}

.alert-success {
    background-color: #f7fff0;
    color: green;
    margin-bottom: 10px; 
    margin-top: 50px;
    border-radius: 5px; 
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}